﻿@Master['layout.html']
<!-------------------------------------------------------------------------------------
//     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
//     All rights reserved.
//
//     Redistribution and use in source and binary forms, with or without
//     modification, are permitted provided that the following conditions are met:
//         * Redistributions of source code must retain the above copyright
//           notice, this list of conditions and the following disclaimer.
//         * Redistributions in binary form must reproduce the above copyright
//           notice, this list of conditions and the following disclaimer in the
//           documentation and/or other materials provided with the distribution.
//         * Neither the name of the Anthilla S.r.l. nor the
//           names of its contributors may be used to endorse or promote products
//           derived from this software without specific prior written permission.
//
//     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
//     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
//     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
//     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
//     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
//     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
//     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
//     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
//     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
//     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
//
//     20141110
//------------------------------------------------------------------------------------->
@Section['PageBar']
<style type="text/css">
    #Config-TB {
        border-bottom: 10px solid #A7BD39;
        height: 80px !important;
    }

    div.row {
        margin-top: 20px !important;
    }
</style>
<nav class="navigation-bar bg-anthilla-gray-m page-bar menu-bar" style="height: 50px !important;">
    <nav class="navigation-bar-content">
        @Each.AntdContext
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#@Current" href="#" style="padding-top: 11px; font-weight: bold; margin-right: 5px;">
            @Current
        </a>
        @EndEach

        <a class="element place-right upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay anchor" data-scrollto="top" style="padding-top: 8px; cursor: pointer;">
            <i class="icon-arrow-up"></i>
        </a>
    </nav>
</nav>
@EndSection

@Section['MainContent']
@Partial['antd/page-antd-info'];
@Partial['antd/page-antd-config'];
@Partial['antd/page-antd-network'];
@Partial['antd/page-antd-dns-client'];
@Partial['antd/page-antd-firewall'];
@Partial['antd/page-antd-dhcp'];
@Partial['antd/page-antd-dns-server'];
@Partial['antd/page-antd-proxy'];
@Partial['antd/page-antd-storage'];
@Partial['antd/page-antd-mount'];
@Partial['antd/page-antd-rsync'];
@Partial['antd/page-antd-users'];
@Partial['antd/page-antd-samba'];
@EndSection

@Section['Scripts']
<script data-context="general" type="text/javascript">
    $(document).ready(function () {
        $('div[data-role="hide-selectize"]').find('#show-units').hide();
    });

    $('#ReloadSystemInfo').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/system/import/info',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('.search-field').keyup(function () {
        var context = $(this).attr('data-searchable');
        var queryString = $(this).val();
        var tableBody = $('.searchable[data-searchable="' + context + '"]').find('tbody');
        var row = tableBody.children('tr');
        row.each(function () {
            var thisRow = $(this);
            var queriedText = $(this).text();
            if (queriedText.indexOf(queryString) !== -1) {
                thisRow.show();
            }
            if (queriedText.indexOf(queryString) < 0) {
                thisRow.hide();
            }
        });
    });

    $(document).ready(function () {
        $.when(
            LoadUserEntitiesUnits()
        ).then();
    });

    var UserSelectizerOptions = function () {
        return {
            load: function (query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: this.settings.remoteUrl,
                    type: "GET",
                    dataType: "json",
                    data: {
                        s: query
                    },
                    error: function () {
                        callback();
                    },
                    success: function (data) {
                        callback(data);
                    }
                });
                return callback;
            },
            render: function (data, escape) {
                return '<div><span data-guid="' + escape(data.guid) + '" class="button name bg-anthilla-violet">' + String(data.alias) + "</span></div>";
            }
        };
    }();

    var $userEntitiesSelectizer = $("#userEntities").selectize({
        delimiter: ",",
        persist: false,
        valueField: "guid",
        labelField: "alias",
        searchField: ["alias", "guid"],
        render: { option: UserSelectizerOptions.render },
        remoteUrl: "/users/json",
        load: UserSelectizerOptions.load,
        sortField: "alias"
    });

    function LoadUserEntitiesUnits() {
        if ($("#userEntities").size() > 0) {
            var userEntitiesSelectizer = $userEntitiesSelectizer[0].selectize;
            userEntitiesSelectizer.load(function (callback) {
                Callback(callback, this.settings.remoteUrl);
                $("#userEntities").hide();
            });
        }
    }

    //////////////////////////////////////////////////////////////////

    $('select[name="Assignment"]').focusout(function () {
        var selectedoption = $(this).find('option:selected').val();
        if (selectedoption === "user") {
            $('#UserAssignmentRow').show();
            $('#ServiceAssignmentRow').hide();
        }
        if (selectedoption === "service") {
            $('#UserAssignmentRow').hide();
            $('#ServiceAssignmentRow').show();
        }
    });

    $('select[name="Assignment"]').click(function () {
        var selectedoption = $(this).find('option:selected').val();
        if (selectedoption === "user") {
            $('#UserAssignmentRow').show();
            $('#ServiceAssignmentRow').hide();
        }
        if (selectedoption === "service") {
            $('#UserAssignmentRow').hide();
            $('#ServiceAssignmentRow').show();
        }
    });

    $('[data-role="CertificateAuthoritySetup"]').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/ca/setup',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('[data-role="CreateNewCertificate"]').click(function () {
        var name = $(this).prev('input[name="CertificateName"]').val();
        jQuery.support.cors = true;
        $.ajax({
            url: '/ca/certificate/new',
            type: 'POST',
            data: {
                Certificate: name
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $('[data-role="InvertSslOption"]').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/ca/ssl/toggle',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('[data-role="ChangeCertificatePath"]').click(function () {
        var path = $(this).prev('input[name="CertificatePath"]').val();
        jQuery.support.cors = true;
        $.ajax({
            url: '/ca/cert/set',
            type: 'POST',
            data: {
                CertificatePath: path
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $('[data-role="submit-general-function"]').click(function () {
        var command = $(this).attr('data-command');
        var param = $(this).prev('[data-role="input-general-function"]').val();
        jQuery.support.cors = true;
        $.ajax({
            url: '/terminal/direct/post',
            type: 'POST',
            data: {
                Command: command.replace("[tag:x]", param)
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $('[data-role="submit-general-function-from-text"]').click(function () {
        var command = $(this).attr('data-command');
        var param = $(this).prev('[data-role="show-general-function"]').text();
        jQuery.support.cors = true;
        $.ajax({
            url: '/terminal/direct',
            type: 'POST',
            data: {
                Command: command.replace("[tag:x]", param)
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $(document).ready(function () {
        $('textarea[data-role="show-general-function"]').each(function () {
            var t = $(this);
            var command = t.attr('data-command');
            jQuery.support.cors = true;
            $.ajax({
                url: '/terminal/direct',
                type: 'POST',
                data: {
                    Command: command
                },
                success: function (data) {
                    t.text(data);
                }
            });
        });
        $('select[data-role2="show-general-function"]').each(function () {
            var t = $(this);
            var command = t.attr('data-command');
            jQuery.support.cors = true;
            $.ajax({
                url: '/terminal/direct',
                type: 'POST',
                data: {
                    Command: command
                },
                success: function (data) {
                    var arr = data.split('\n');
                    $.each(arr, function (i, value) {
                        t.append('<option Value="' + value + '">' + value + '</option>');
                    });
                }
            });
        });
    });

    $('p.edit-conf').click(function () {
        var path = $(this).attr('data-path');
        jQuery.support.cors = true;
        $.ajax({
            url: '/system/read/file/' + path,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (text) {
                var dashboard = $('#FileConfigDashboard');
                dashboard.find('#title').text('Editing: ' + path);
                dashboard.find('input[name="FilePath"]').val(path);
                dashboard.find('textarea[name="FileContent"]').text(text);
                dashboard.show();
                //todo scrollup to dashboard
                return false;
            }
        });
    });

    $('p.export-conf').click(function () {
        var p = $(this).attr('data-path');
        jQuery.support.cors = true;
        $.ajax({
            url: '/system/export/file/' + p,
            type: 'POST',
            data: JSON.stringify(p),
            contentType: "application/json;charset=utf-8",
            success: function () {
                location.reload(true);
                return false;
            }
        });
    });

    $('input#close').click(function () {
        var form = $('form');
        form.find('input').val('');
        form.find('textarea').text('');
        form.hide();
    });

    $('input#clear').click(function () {
        var form = $('form');
        form.find('input').val('');
        form.find('textarea').text('');
    });
</script>
<script data-context="firewall" type="text/javascript">
    $('input[data-role="enable-mac-address"]').click(function () {
        var guid = $(this).attr('data-object-guid');
        jQuery.support.cors = true;
        $.ajax({
            url: '/firewall/enable/macadd',
            type: 'POST',
            data: {
                Guid: guid
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $('input[data-role="disable-mac-address"]').click(function () {
        var guid = $(this).attr('data-object-guid');
        jQuery.support.cors = true;
        $.ajax({
            url: '/firewall/disable/macadd',
            type: 'POST',
            data: {
                Guid: guid
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ReloadMacAddressList').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/firewall/discover/macadd',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('div[data-object="ruleset"]').dblclick(function () {
        var table = $(this).attr('data-table');
        var type = $(this).attr('data-type');
        var hook = $(this).attr('data-hook');
        var db = $('#NewListDashboard');
        db.find('[name="Table"]').val(table);
        db.find('[name="Type"]').val(type);
        db.find('[name="Hook"]').val(hook);
        $('[data-role="display-table-context"]').text(table + ' ' + type + ' ' + hook);
        $(window).scrollTop($('#ValueBundleDashboard').offset().top - 50);
        jQuery.support.cors = true;
        $.ajax({
            url: '/firewall/getrule/' + table + '/' + type + '/' + hook,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                var container = $('#FirewallConfigurationLists');
                container.html('');
                $.each(data, function (i, list) {
                    var row = '<tr data-index="' + i + '"><td style="width:200px;"><p style="display:inline-block;" class="fg-white">'
                        + list.Label +
                        '</p></td><td><input type="text" data-guid="' + list.Guid + '" style="height: 25px; width: 90%;" class="bg-anthilla-gray fg-white" value="'
                        + list.ReplaceValues + '"/></td><td><i class="icon-cycle fg-anthilla-violet on-left" data-guid="' + list.Guid +
                        '" data-role="firewall-reload-values" data-backup="'
                        + list.ReplaceValues +
                        '" style="cursor: pointer !important;"></i><i data-role="firewall-update-values" data-guid="' + list.Guid +
                        '" class="icon-checkmark fg-anthilla-green on-left style="cursor: pointer !important;""></i>' +
                        '</td></tr>';
                    container.append(row);
                    ReloadListValues();
                    SaveListValues();
                });

                $.ajax({
                    url: '/firewall/getruleset/' + table + '/' + type + '/' + hook,
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (rules) {
                        $('#RuleList').html('');
                        $.each(rules, function (i, rule) {
                            var row = '<tr data-index="' + i + '"><td style="width:200px;"></td><td>' + rule + '</td></tr>';
                            $('#RuleList').append(row);
                        });
                        return false;
                    }
                });

                return false;
            }
        });
    });

    function ReloadListValues() {
        $('[data-role="firewall-reload-values"]').click(function () {
            var guid = $(this).attr('data-guid');
            var bkup = $(this).attr('data-backup');
            $('input[data-guid="' + guid + '"]').val(bkup);
            return false;
        });
    }

    function SaveListValues() {
        $('[data-role="firewall-update-values"]').click(function () {
            var guid = $(this).attr('data-guid');
            var el = $('input[data-guid="' + guid + '"]').val();
            jQuery.support.cors = true;
            $.ajax({
                url: networkUrl + '/ipv4/disable/if',
                type: 'POST',
                data: {
                    Guid: guid,
                    Elements: el
                },
                success: function () {
                    location.reload(true);
                }
            });
        });
    }

    $('i[data-role="stop-rule"]').click(function () {
        var guid = $(this).attr('data-guid');
        jQuery.support.cors = true;
        $.ajax({
            url: '/firewall/stoprule',
            type: 'POST',
            data: {
                Guid: guid
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ApplyFirewallConfiguration').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/firewall/conf/export',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ExportFirewallConfiguration').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/firewall/conf/export',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });
</script>
<script data-context="network" type="text/javascript">
    $('#BondInterfacesHeader').dblclick(function () {
        $('.bondInterfacesBody').toggle();
    });

    $('#VirtualInterfacesHeader').dblclick(function () {
        $('.virtualInterfacesBody').toggle();
    });

    $('#ReloadNetworkInterfacesInformation').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/network/import/if',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });
</script>
<script data-context="Mount" type="text/javascript">
    $('i.show-units-mgmt').click(function() {
        var g = $(this).attr('data-guid');
        $('tr.Mount-units[data-guid="' + g + '"]').toggle();
    });

    $('input[data-role="show-dashboard"]').click(function() {
        var g = $(this).attr('data-guid');
        $('#AntdMountdDashboard').toggle();
        $('#AntdMountdDashboard').find('input[name="Guid"]').val(g);
        $('#AntdMountdDashboard').find('input[name="Mount"]').val($(this).attr('data-mntpth'));
    });

    $('i[data-role="remove-this-unit"]').click(function() {
        var g = $(this).attr('data-guid');
        var u = $(this).attr('data-unit');
        jQuery.support.cors = true;
        $.ajax({
            url: '/system/Mount/unit',
            type: 'DELETE',
            data: {
                Guid: g,
                Unit: u
            },
            success: function() {
                location.reload(true);
            }
        });
    });
</script>
<script data-context="users" type="text/javascript">
    $(document).ready(function () {
        $('input[type="text"]').each(function () {
            $(this).val('');
        });
        $('input[type="password"]').each(function () {
            $(this).val('');
        });
    });

    $('i[data-role="remove-claim"]').click(function () {
        var userGuid = $(this).attr('data-user-guid');
        var claimGuid = $(this).attr('data-claim-guid');
        jQuery.support.cors = true;
        $.ajax({
            url: '/users/identity/delclaim',
            type: 'POST',
            data: {
                Userguid: userGuid,
                Guid: claimGuid
            },
            success: function () {
                location.reload(true);
            }
        });
    });

    $('li[data-role="user"]').click(function () {
        var userGuid = $(this).attr('data-user-guid');
        $('li[data-user-guid="' + userGuid + '"]').not('li[data-role="user"]').toggle();
    });

</script>
<script data-context="services" type="text/javascript">
    $('.search-field').keyup(function () {
        var tableReference = $(this).attr('data-table');
        var searchIn = $('table[data-search="' + tableReference + '"]').find('tbody');
        var queryString = $(this).val();
        var row = searchIn.children('tr');
        row.each(function () {
            var thisRow = $(this);
            var queriedText = $(this).text();
            if (queriedText.indexOf(queryString) !== -1) {
                thisRow.show();
            }
            if (queriedText.indexOf(queryString) < 0) {
                thisRow.hide();
            }
        });
    });

    //START SAMBA
    $('#ActivateSamba').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/activate/samba',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#RefreshSamba').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/refresh/samba',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ReloadSamba').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/reloadconfig/samba',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ShowSambaStructure').mousedown(function () {
        $('#SambaStructure').show();
    }).mouseup(function () {
        $('#SambaStructure').hide();
    });;

    $(document).ready(function () {
        $('#SambaForm').find('tr[data-object="samba-parameter"]').each(function (index) {
            var dataKey = $(this).find('[name="DataKey"]');
            dataKey.attr('name', dataKey.attr('name') + '_' + index);
            var dataValue = $(this).find('[name="DataValue"]');
            dataValue.attr('name', dataValue.attr('name') + '_' + index);
            var dataFile = $(this).find('[name="DataFilePath"]');
            dataFile.attr('name', dataFile.attr('name') + '_' + index);
        });
    });

    $(document).ready(function () {
        $('[data-share-form]').each(function () {
            $(this).find('[data-object="share-parameter"]').each(function (index) {
                var dataKey = $(this).find('[name="DataKey"]');
                dataKey.attr('name', dataKey.attr('name') + '_' + index);
                var dataValue = $(this).find('[name="DataValue"]');
                dataValue.attr('name', dataValue.attr('name') + '_' + index);
                var dataFile = $(this).find('[name="DataFilePath"]');
                dataFile.attr('name', dataFile.attr('name') + '_' + index);
            });
        });
    });

    $('#AddNewParameterSamba').click(function () {
        $('#NewParameterSambaDashboard').toggle();
    });

    $('#AddNewShare').click(function () {
        $('#NewSambaShare').toggle();
    });
    //END SAMBA

    //START BIND
    $('#ActivateBind').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/activate/bind',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#RefreshBind').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/refresh/bind',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ReloadBind').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/reloadconfig/bind',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $(document).ready(function () {
        $.when(
            $('input[data-array="bind"]').selectize({
                delimiter: ';',
                persist: false,
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }
                }
            })
        ).done(function () {
            $('.selectize-input.items').find('div.item[data-Value=""]').remove();
            $('input[data-array="bind"]').hide();
        });
    });

    $(document).ready(function () {
        $('form[data-role="bind-section-update"]').each(function () {
            $(this).find('[data-object="bind-parameter"]').each(function (index) {
                var dataKey = $(this).find('[name="DataKey"]');
                dataKey.attr('name', dataKey.attr('name') + '_' + index);
                var dataValue = $(this).find('[name="DataValue"]');
                dataValue.attr('name', dataValue.attr('name') + '_' + index);
                var dataFile = $(this).find('[name="DataFilePath"]');
                dataFile.attr('name', dataFile.attr('name') + '_' + index);
            });
        });
    });

    $('#AddNewAclBind').click(function () {
        $('#NewAclBindDashboard').toggle();
    });

    $('#AddNewKeyBind').click(function () {
        $('#NewKeyBindDashboard').toggle();
    });

    $('#AddNewMastersBind').click(function () {
        $('#NewMastersBindDashboard').toggle();
    });

    $('#AddNewServerBind').click(function () {
        $('#NewServerBindDashboard').toggle();
    });

    $('#AddNewViewBind').click(function () {
        $('#NewViewBindDashboard').toggle();
    });

    $('#AddNewZoneBind').click(function () {
        $('#NewZoneBindDashboard').toggle();
    });
    //END BIND

    //START DHCP
    $('#ActivateDhcp').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/activate/dhcp',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#RefreshDhcp').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/refresh/dhcp',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ReloadDhcp').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/reloadconfig/dhcp',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ShowDhcpStructure').mousedown(function () {
        $('#DhcpStructure').show();
    }).mouseup(function () {
        $('#DhcpStructure').hide();
    });;

    $(document).ready(function () {
        $('#DhcpForm').find('tr[data-object="dhcp-parameter"]').each(function (index) {
            var dataKey = $(this).find('[name="DataKey"]');
            dataKey.attr('name', dataKey.attr('name') + '_' + index);
            var dataValue = $(this).find('[name="DataValue"]');
            dataValue.attr('name', dataValue.attr('name') + '_' + index);
            var dataFile = $(this).find('[name="DataFilePath"]');
            dataFile.attr('name', dataFile.attr('name') + '_' + index);
        });
    });

    $(document).ready(function () {
        $('[data-share-form]').each(function () {
            $(this).find('[data-object="share-parameter"]').each(function (index) {
                var dataKey = $(this).find('[name="DataKey"]');
                dataKey.attr('name', dataKey.attr('name') + '_' + index);
                var dataValue = $(this).find('[name="DataValue"]');
                dataValue.attr('name', dataValue.attr('name') + '_' + index);
                var dataFile = $(this).find('[name="DataFilePath"]');
                dataFile.attr('name', dataFile.attr('name') + '_' + index);
            });
        });
    });

    $('#AddNewParameterDhcp').click(function () {
        $('#NewParameterDhcpDashboard').toggle();
    });

    $('#AddNewShare').click(function () {
        $('#NewDhcpShare').toggle();
    });

    $(document).ready(function () {
        $.when(
            $('input[data-array="dhcp"]').selectize({
                delimiter: ';',
                persist: false,
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }
                }
            })
        ).done(function () {
            $('.selectize-input.items').find('div.item[data-Value=""]').remove();
            $('input[data-array="dhcp"]').hide();
        });
    });
    //END DHCP

    //START SSH
    $('#ActivateSsh').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/activate/ssh',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#RefreshSsh').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/refresh/ssh',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ReloadSsh').click(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/services/reloadconfig/ssh',
            type: 'POST',
            success: function () {
                location.reload(true);
            }
        });
    });

    $('#ShowSshStructure').mousedown(function () {
        $('#SshStructure').show();
    }).mouseup(function () {
        $('#SshStructure').hide();
    });;

    $(document).ready(function () {
        $('#SshForm').find('tr[data-object="ssh-parameter"]').each(function (index) {
            var dataKey = $(this).find('[name="DataKey"]');
            dataKey.attr('name', dataKey.attr('name') + '_' + index);
            var dataValue = $(this).find('[name="DataValue"]');
            dataValue.attr('name', dataValue.attr('name') + '_' + index);
            var dataFile = $(this).find('[name="DataFilePath"]');
            dataFile.attr('name', dataFile.attr('name') + '_' + index);
        });
    });

    $(document).ready(function () {
        $('[data-key-form]').each(function () {
            $(this).find('[data-object="key-parameter"]').each(function (index) {
                var dataKey = $(this).find('[name="DataKey"]');
                dataKey.attr('name', dataKey.attr('name') + '_' + index);
                var dataValue = $(this).find('[name="DataValue"]');
                dataValue.attr('name', dataValue.attr('name') + '_' + index);
                var dataFile = $(this).find('[name="DataFilePath"]');
                dataFile.attr('name', dataFile.attr('name') + '_' + index);
            });
        });
    });

    $('#AddNewParameterSsh').click(function () {
        $('#NewParameterSshDashboard').toggle();
    });

    $('#AddNewKey').click(function () {
        $('#NewSshKey').toggle();
    });
    //END SSH
</script>

@EndSection