﻿<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Users">Users</legend>
    <form id="UserIdentityDashboard" action="/users/identity" method="POST" enctype="multipart/form-data" class="grid" autocomplete="off">
        <div class="row">
            <div class="span3">
                <label>user name</label>
            </div>
            <div class="span6">
                <input name="UserEntity" type="text" class="bg-anthilla-gray" style="height: 30px; width: 90%;" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <label>password</label>
            </div>
            <div class="span6">
                <input name="UserPassword" type="password" class="bg-anthilla-gray" style="height: 30px; width: 90%;" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="span3"><label>&nbsp</label></div>
            <div class="span6"><input type="submit" class="bg-anthilla-green" value="Create New User Identity" style="height: 30px; width: 90%; color: #3A3A3A !important;"></div>
        </div>
    </form>
    <hr class="bg-anthilla-green" />
    <div id="Container">
        <table class="table">
            <tbody>
                @Each.UserEntities
                <tr data-role="user" data-user-guid="@Current.MasterGuid">
                    <td>
                        <i class="icon-user fg-white"></i>
                        <p style="display: inline-block; width: 175px;">
                            @Current.MasterGuid
                        </p>
                        <p style="display: inline-block;">
                            @Current.MasterUsername
                            <input name="UserPublicKey" type="hidden" value="@Current.PublicKey" />
                        </p>
                        <i data-role="remove-user" data-guid="@Current.MasterGuid" class="icon-remove fg-orange" style="cursor: pointer; float: right;"></i>
                        <i data-role="disable-user" data-guid="@Current.MasterGuid" class="icon-checkmark fg-lightBlue" style="cursor: pointer; float: right; margin-right: 10px;"></i>
                    </td>
                </tr>
                @Partial['_partial/part-users', Current.Claims]
                <tr>
                    <td>
                        <form action="/users/identity/addclaim" method="POST" enctype="multipart/form-data" autocomplete="off" class="grid">
                            <input name="Userguid" type="hidden" value="@Current.MasterGuid" />
                            <div class="row bg-anthilla-gray">
                                <div class="span3 bg-anthilla-gray">
                                    <label>Claim mode</label>
                                </div>
                                <div class="span5 bg-anthilla-gray">
                                    <input name="Mode" value="antd" type="radio" /> Antd
                                    <input name="Mode" value="system" type="radio" /> System
                                    <input name="Mode" value="activedirectory" type="radio" /> Active Directory
                                    <input name="Mode" value="anthillasp" type="radio" /> Anthilla SP
                                    <input name="Mode" value="other" type="radio" /> Other
                                </div>
                            </div>
                            <div class="row bg-anthilla-gray">
                                <div class="span3 bg-anthilla-gray">
                                    <label>Claim type</label>
                                </div>
                                <div class="span5 bg-anthilla-gray">
                                    <input name="Type" value="identity" type="radio" /> Identity
                                    <input name="Type" value="password" type="radio" /> Password
                                    <input name="Type" value="pin" type="radio" /> Pin
                                    <input name="Type" value="token" type="radio" /> Token
                                    <input name="Type" value="other" type="radio" /> Other
                                </div>
                            </div>
                            <div class="row bg-anthilla-gray">
                                <div class="span3 bg-anthilla-gray">
                                    <label>Claim key</label>
                                </div>
                                <div class="span5 bg-anthilla-gray">
                                    <input name="Key" placeholder="Key" type="text" class="bg-anthilla-gray" style="width: 90%; height: 26px;">
                                </div>
                            </div>
                            <div class="row bg-anthilla-gray">
                                <div class="span3 bg-anthilla-gray">
                                    <label>Claim Value</label>
                                </div>
                                <div class="span5 bg-anthilla-gray">
                                    <input name="Value" placeholder="Value" type="text" class="bg-anthilla-gray" style="width: 90%; height: 26px;">
                                </div>
                            </div>
                            <div class="row bg-anthilla-gray">
                                <div class="span8 bg-anthilla-gray">
                                    <input type="submit" class="bg-anthilla-green" value="Add Claim" style="width: 90%; color: #3A3A3A !important;">
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                @EndEach
            </tbody>
        </table>
        <!--------------
        @Each.UserEntities
        <ul style="list-style: none; padding: 0;" class="fg-white">
            <li data-role="user" data-user-guid="@Current.MasterGuid" class="border-2-anthilla-green bg-anthilla-gray" style="padding: 10px; height: 45px; margin-bottom: 3px;">
                <i class="icon-user fg-white"></i>
                <p style="display: inline-block; width: 175px;">
                    @Current.MasterGuid
                </p>
                <p style="display: inline-block;">
                    @Current.MasterUsername
                    <input name="UserPublicKey" type="hidden" value="@Current.PublicKey"/>
                </p>
                <i data-role="remove-user" data-guid="@Current.MasterGuid" class="icon-remove fg-orange" style="cursor: pointer; float: right;"></i>
                <i data-role="disable-user" data-guid="@Current.MasterGuid" class="icon-checkmark fg-lightBlue" style="cursor: pointer; float: right; margin-right: 10px;"></i>
            </li>
            @Partial['_partial/part-users', Current.Claims]
            <li data-role="claim" data-user-guid="@Current.MasterGuid" class="border-2-anthilla-gray bg-anthilla-gray" style="display: none; padding: 10px; height: 205px; margin-bottom: 3px;">
                <form action="/users/identity/addclaim" method="POST" enctype="multipart/form-data" autocomplete="off" class="grid">
                    <input name="Userguid" type="hidden" value="@Current.MasterGuid"/>
                    <div class="row bg-anthilla-gray">
                        <div class="span3 bg-anthilla-gray">
                            <label>Claim mode</label>
                        </div>
                        <div class="span5 bg-anthilla-gray">
                            <input name="Mode" value="antd" type="radio"/> Antd
                            <input name="Mode" value="system" type="radio"/> System
                            <input name="Mode" value="activedirectory" type="radio"/> Active Directory
                            <input name="Mode" value="anthillasp" type="radio"/> Anthilla SP
                            <input name="Mode" value="other" type="radio"/> Other
                        </div>
                    </div>
                    <div class="row bg-anthilla-gray">
                        <div class="span3 bg-anthilla-gray">
                            <label>Claim type</label>
                        </div>
                        <div class="span5 bg-anthilla-gray">
                            <input name="Type" value="identity" type="radio"/> Identity
                            <input name="Type" value="password" type="radio"/> Password
                            <input name="Type" value="pin" type="radio"/> Pin
                            <input name="Type" value="token" type="radio"/> Token
                            <input name="Type" value="other" type="radio"/> Other
                        </div>
                    </div>
                    <div class="row bg-anthilla-gray">
                        <div class="span3 bg-anthilla-gray">
                            <label>Claim key</label>
                        </div>
                        <div class="span5 bg-anthilla-gray">
                            <input name="Key" placeholder="Key" type="text" class="bg-anthilla-gray" style="width: 90%; height: 26px;">
                        </div>
                    </div>
                    <div class="row bg-anthilla-gray">
                        <div class="span3 bg-anthilla-gray">
                            <label>Claim Value</label>
                        </div>
                        <div class="span5 bg-anthilla-gray">
                            <input name="Value" placeholder="Value" type="text" class="bg-anthilla-gray" style="width: 90%; height: 26px;">
                        </div>
                    </div>
                    <div class="row bg-anthilla-gray">
                        <div class="span8 bg-anthilla-gray">
                            <input type="submit" class="bg-anthilla-green" value="Add Claim" style="width: 90%; color: #3A3A3A !important;">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        @EndEach
            -------------->
    </div>
</div>
